body{
    background-color: rgb(255, 214, 132);
}

h1{
    color: black;
}

h2{
    color: black;
}

.alumnos{
    color: black;
}

.ejercicio{
    border: 5px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th,td{
    border: 1px solid black;
}
th{
    font-weight: bold;
}
